[alias]
  b = branch
  bD = branch -D
  co = checkout
  cp = cherry-pick
  fdiff = diff --stat
  logp = log --graph --oneline
  pullr = pull --rebase
  st = status

[credential]
  helper = store

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[push]
  default = simple

[user]
  name = Gabe Gonzalez
  email = gabegonzalez24@gmail.com
